body{
    background: linear-gradient(to right, #1D18DE, #8dd6eb);
  
    color: black;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: left; 
}

#MainNav{
    color: purple; 
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
}

#Main{

}